<div class="span8 js-recommendation">
  <% repo = recommendation.repo %>
  <div class="row">
    <div class="span5">
      <h4 class="repo"><%= link_to repo.full_name, repo.url, :target => '_blank' %></h4>
    </div>

    <div class="span3">
      <div class=" pull-right">
        <%= repo.language %>
        &nbsp;&nbsp;
        <%= icon_tag('star') %> <%= repo.stars_count -%>
        &nbsp;&nbsp;
        <%= icon_tag('random') %> <%= repo.forks_count -%>
        <%- if current_user && current_user.id == recommendation.user_id -%>
        &nbsp;&nbsp;
        <%= link_to icon_tag('remove'),
                    skip_recommendation_path(recommendation.id),
                    :class => 'js-skip', :remote => true, :method => :put %>
        <%- end -%>
      </div>
    </div>
  </div>
  <p><%= repo.description %></p>
  <% recommendation.scores_by_group.each do |action_type, scores| %>
    <dl class="dl-horizontal scores">
      <dt><%= action_type.titleize %>:</dt>
      <dd>
        <% scores.each do |score| %>
          <%= link_to image_tag(score.user.avatar_url,
                                :size => '30x30',
                                :class => 'avatar'),
                      score.user.url,
                      :rel => 'tooltip',
                      :title => score.user.login,
                      :target => '_blank' %>
        <% end %>
      </dd>
    </dl>
  <% end %>

  <hr/>
</div>

